---
layout: page
title: "About"
description: "Hey, here is Henry."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        “你好，我是Henry”
    </blockquote> 
    <h1>关于我</h1><br> 
        <ul>
        <li><p>坐标妖都，大四实习中</p><br>
        </li>
        <li><p>初级码农🕴，电气🐶</p>
        <ul>
        <li>嵌入式软件开发学习中</li>
        <li>主攻C/C++、Matlab，略懂Python</li>
        <li>GitHub新手玩家  <a href='https://github.com/HenryChen1'>传送门—&gt;</a></li>
        <br>
        </ul>
        </li>
        <li><p>咖啡☕</p>
        <ul>
        <li>手冲小白</li>
        <li>偏爱浅中烘、埃塞豆</li>
        <li>最爱花魁日晒</li>
        <br>
        </ul>
        </li>
        <li><p>音乐🎶</p>
        <ul>
        <li>钢琴🎹&amp;打击乐🥁</li>
        <li>偏爱swing、bossa🎷</li>
        <li>最喜爱的作曲家🎼：Dave Bruberk</li>
        <li>最喜爱的女歌手兼小号手🎺：Andrea Motis  <a href='https://andreamotis.com/'>传送门—&gt;</a></li>
        <br>
        </ul>
        </li>
        <li><p>摄影📸</p>
        <ul>
        <li>偏爱人文</li>
        <li>无聊的时候会扫扫街，记录一些人和事🎥</li>
        <br>
        </ul>
        </li>
        
        </ul>
        <p>&nbsp;</p>

</div>

<!-- English Version -->
<div class="en post-container">
    <h1>About me</h1>
<blockquote><p>Hi , here is Henry.</p>
</blockquote>
<ul>
<li>local in Guangzhou，a senior student in the internship</li>

</ul>
<ul>
<li><p>junior programmer🕴,electric engineering 🐶</p>
<ul>
<li>studying embedded software development </li>
<li>skilled in C/C++| , Matlab , little Python</li>
<li>beginer of Github <a href='https://github.com/HenryChen1'>portal-&gt;</a></li>

</ul>
</li>

</ul>
<ul>
<li><p>coffee☕</p>
<ul>
<li>green hand of filter coffee</li>
<li>prefer to the bean of the shallow or  moderate  baking from Ethiopia</li>
<li>prefer to the sun-baked Plum Flower </li>

</ul>
</li>

</ul>
<ul>
<li><p>music🎶</p>
<ul>
<li>piano🎹&amp;percussion🥁</li>
<li>get affection for swing , bossa</li>
<li>favorite jazz composer : Dave Bruberk</li>
<li>favorite jazz singer &amp; trumpeter : Andrea Motis <a href=' https://andreamotis.com/ '>portal-&gt;</a></li>

</ul>
</li>

</ul>
<ul>
<li><p>photograph📸</p>
<ul>
<li>perfer humanity</li>
<li>for record some things or people </li>

</ul>
</li>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
